{% extends "main_layout.html" %}
{% block content %}
    <div class="container-fluid">
        <!-- ======= Home Section ======= -->
        <section id="home" class="home d-flex align-items-center">
        
          <div class="container">
            <div class="row">
              <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Deteksi Penyakit Buah Pamelo Menggunakan PameloDiagnosis.</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Selamat datang di halaman utama Pendeteksi Penyakit Buah Pamelo, platform inovatif untuk mengidentifikasi penyakit pada buah pamelo dan memberikan solusi yang tepat.</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                  <div class="text-center text-lg-start">
                    <a href="predic" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                      <span>Mulai</span>
                      <i class="bi bi-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 home-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="static/img/home-img.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
      
        </section><!-- End home -->
        
        <!-- ======= features Section ======= -->
        <section id="features" class="features">

            <div class="container" data-aos="fade-up">
            
              <header class="section-header">
                <h2>Jenis Penyakit</h2>
                <p>Jenis penyakit pada buah pamelo yang dapat kami deteksi</p>
              </header>
          
                <div class="row">
                    <div class="col-lg-6">
                      <img src="static/img/services.jpg" class="img-fluid" alt="">
                    </div>
                
                    <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                      <div class="row align-self-center gy-4">
                    
                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                          <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Hama lalat buah</h3>
                          </div>
                        </div>
                    
                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                          <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Kanker jeruk</h3>
                          </div>
                        </div>
                    
                        <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                          <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Diplodia</h3>
                          </div>
                        </div>
                    </div>
                </div>
            </div> <!-- / row -->
        </section><!-- End features Section -->

        <!-- section about -->
        <section id="tentang" class="tentang">
            <div class="container" data-aos="fade-up">
                <div class="row feture-tabs" data-aos="fade-up">
                    <div class="col-lg-6">
                      <h2>Tentang Aplikasi PameloDiagnosis</h2>
                      <br>
                      <p class="fs-4 text-justify">PameloDiagnosis adalah sebuah aplikasi inovatif yang diciptakan dengan tujuan untuk membantu  masyarakat yang masih awam dalam mengidentifikasi penyakit pada buah jeruk pamelo secara efisien. PameloDiagnosis bertujuan untuk membawa solusi praktis ke dalam tangan pengguna dalam menghadapi tantangan perawatan jeruk pamelo.</p>
                    </div>

                    <div class="col-lg-6">
                        <img src="static/img/services-2.jpg" class="img-fluid" alt="">
                    </div>
                </div> 
            </div>
        </section>

</div>

{% endblock %}